<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Release Year</label>
      <select id="movie[release_year]" name="movie[release_year]" class="form-control">
        <option selected><%= @current_year %></option>
        <% (1950..@current_year).each do |year| %>
          <% selected = year == @movie.release_year ? 'selected' : '' %>
          <option value="<%= year %>" <%= selected %>><%= year %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
   </div> 
<% end %>
